body{
    position: relative !important;
    overflow-x: hidden !important;
}

html{
    overflow-x: hidden !important}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

.hoteldigilab-flex {
    display: flex;
}

.hoteldigilab-align-items-center {
    align-items: center;
}

.hoteldigilab-justify-content-between {
    justify-content: space-between;
}


/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.hoteldigilab-widget div{
    font-family: inherit;
}


.hoteldigilab-loading{
    position: absolute;
    z-index: 9998;
    height: 100%;
    width: 100%;
    background: #000 url(../img/loading.gif?v=1.02) 50% 50% no-repeat !important;
    opacity: 0.6;
}

.hoteldigilab-loading-text{
    display: block !important;
    color: #f7f6f6;
    position: absolute;
    z-index: 9999;
    top: 55%;
    width: 100%;
    text-align: center;
}

.hoteldigilab-widget{
    border: 2px solid #3696C9;
    z-index: 9999;
    /*position:absolute;*/
    /*top: 50px;*/
    /*right: -275px;*/
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}

.no-availability{
    color: red;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
}

#hoteldigilab-sabee_price{
    font-size: 18px;
    color: #375011d4;
}

#hoteldigilab-sabee_currency{
    color: #375011d4;
}

.hoteldigilab-main{
    /*width: 275px;*/
    position: relative;
    display: block;
    background-color: #FFF;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 0 20px 0;
    /*float:right*/
}

.hoteldigilab-red-area{
    background-color: #740202;
    padding: 20px 20px 10px 20px;
    color: #FFF;
}
.hoteldigilab-logo img{
    width: 85px;
    float:left;
}

.hoteldigilab-currency{
}

.hoteldigilab-clear{
    clear: both;
}

.hoteldigilab-fixed-main-title{
    font-size: 24px;
    /* font-weight: bold; */
}

.sabee-link{
    text-decoration:none !important;
}

.hoteldigilab-discounted-rate-btn{
    background-color: #FFF;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 3%;
    color: #375011d4;
    text-decoration: none !important;
}

.hoteldigilab-reservation-text{
    /* font-weight: bold; */
    font-size: 18px;
    margin-top: 3%;
}

.hoteldigilab-promoted-text ul{
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    padding: 3% 0 0 26px;
    line-height: 20px;
    margin: 0;
}

.hoteldigilab-bottom-area{
    padding: 0 20px 0 20px;
}

.hoteldigilab-date{
    margin-bottom: 3%;
    margin-top:  3%;
}

.hoteldigilab-date > .date-header{
    margin-bottom: 3%;
    margin-top: 3%; 
}

.hoteldigilab-date-select{
    display: flex;
    display: -webkit-flex;
}

.hoteldigilab-date-select input{
    /*font-weight: bold;*/
}

.hoteldigilab-date input[type="date"]{
    font-weight: bold;
    margin-bottom: 0;
    width: 46%;
    font-size: 11px;
    float: left;
    /*padding-top: 0;*/
    margin-right: 1%;
    line-height: 16px;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 0;
    vertical-align: middle !important;
    min-height: 24px;
    padding-left: 5px;
    padding-right: 0px;
}

.hoteldigilab-date input[type="text"]{
    font-weight: bold;
    margin-bottom: 0;
    width: 46%;
    font-size: 11px;
    float: left;
    /*padding-top: 0;*/
    margin-right: 1%;
    line-height: 16px;
    height: 24px;
    padding-top: 2px;
    padding-bottom: 0;
    vertical-align: middle !important;
    min-height: 24px;
    padding-left: 5px;
    padding-right: 0px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    margin: 0px;
}

.hoteldigilab-dateSubmitBtn{
    height: 24px !important;
    width: 40px !important;
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    -webkit-appearance: none;
    display: inline-flex;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    float:left;
    font-size: 16px;
    padding: 5px !important;
    border: 1px solid darkgrey !important;
}

.hoteldigilab-price-from{
    font-weight: 500;
    margin-top: 2%;
}

.hoteldigilab-from-price{
    float: right;
    font-size: 14px;
}

.hoteldigilab-from-logo{
    float: left;
    max-height: 15px;
    max-width: 15px;
    position: relative;
    top: -1px;
}

.hoteldigilab-from-logo img{
    height: 15px;
}

.hoteldigilab-from-text{
    padding-left: 5px;
    float:left;
    font-size: 16px;

}



.hoteldigilab-currencies{
    min-height: 25px;
    height: 25px;
    padding: 0px !important;
    text-align-last: center;
    border-radius: 5px;
    width: 25px !important;
    font-weight: bold;
    background-color: #FFF;
    line-height: 24px;
    color: #000;
}

.hoteldigilab-channel-prices{
    line-height: 20px;
}

/******************************************\
        Exit Widget
\******************************************/

.hoteldigilab-top-exit-trigger{
    position: absolute;
    z-index: 9999;
    display: block;
    top: 0px;
    /* right: 5px; */
    opacity: 0;
    height: 2px;
    width: 100%;
    background-color: #000;

}

.hoteldigilab-exit-background-cover{
    display: none;
    position:absolute;
    background: #000 50% 50% no-repeat !important;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    z-index: 9995;
}

.hoteldigilab-exit-widget{
    display: none;
    z-index: 9999;
    width: 500px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 1px 3px #666;
    width: 500px;
    font-family: 'Lato', sans-serif !important;
}

.hoteldigilab-close-exit-widget{
    width: 25px;
    height: 25px;
    text-align: center;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    color: #740202;
    border-radius: 100%;
    position: relative;
    top: -10px;
    float: right;
    right: -10px;
}

.hoteldigilab-exit-widget-top-section{
    padding: 20px;
}

.hoteldigilab-exit-widget-middle-section{
    padding: 0 50px 40px 50px;
}

.hoteldigilab-exit-widget a{
    text-decoration: none;
}

.hoteldigilab-exit-widget-main-head{
    color: #740202;
    font-size: 25px;
    font-weight: bold;

}

.hoteldigilab-exit-widget-sub-text{
    letter-spacing: .2px;
    font-size: 13px;
    padding-top: 10px;
    line-height: 20px;
}

.hoteldigilab-exit-widget-discount-code{
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 0px 1px 3px #ddd;
    font-size: 22px;
    color: #637d96;
}

.hoteldigilab-exit-widget-bottom-button{
    background-color: #740202;
    padding: 20px;
    color: #fff;
    box-shadow: 0px 1px 1px #222;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.hoteldigilab-best-offers{
    padding-top: 20px;
}

.hoteldigilab-best-offers ul{
    list-style: disc;
    padding-left: 16px;
}